<div class="container-form">
  <div class="my-form">

    <h2>Register as a Van Driver</h2>

    <%= simple_form_for @van do |f| %>
      <div>
        <%= f.input :name, label: "Name" %>
      </div>

      <div>
        <%= f.input :location, label: "Location" %>
      </div>

      <div>
        <%= f.input :photo, as: :file, required: true %>
      </div>

      <%= f.submit "Register", class: "btn-main" %>
    <% end %>

  </div>
</div>
