<div class="btn-back">
  <%= link_to "< Back to map", vans_path %>
</div>


<div class="van-container">
  <div class="van-show">

      <% if @van == current_user.van  %>
      <div class="van-image">
        <%= image_tag @user.image if @user.image.present? %>
      </div>
      <% else%>
      <div class="van-image">
        <%= image_tag @user.photo if @user.photo.present? %>
      </div>
      <% end %>

      <div class="van-info">
        <h1><%= @van.name %></h1>
        <p>⭐⭐⭐⭐⭐</p>
          <% if @favourite %>
            <%= button_to "🩷", favourite_path(@favourite, van_id: @van.id), method: :delete, class: "btn btn-heart" %>
          <% else %>
            <%= button_to "🖤", favourites_path(van_id: @van.id), method: :post, class: "btn btn-heart" %>
          <% end %>
      </div>
  </div>
</div>


<div class="my-container">
  <% if @inventories.empty? %>
    <p>No products available in this van.</p>
  <% else %>
    <ul>
      <% @inventories.each do |inventory| %>
        <li>
            <div class="product-card">
              <div class="product-info">
                <h3><strong><%= inventory.product.name %></strong></h3>
                <hr class="product-line">
                <p><%= inventory.product.description %></p>
                <p><strong>£<%= inventory.price %></strong></p>
                <%= link_to "Add to basket", van_product_path(@van, inventory.product), class: "btn-main" %>
                <span><em>Quantity Available: <%= inventory.quantity_available %></em></span>
              </div>

                <% if inventory.product.photo.present? %>
                  <%= image_tag inventory.product.photo, alt: inventory.product.name %>
                <% else %>
                  <%= image_tag 'default_product_image.png', alt: 'Default Image' %>
                <% end %>

            </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
