  <div class="van-container">
    <div class="van-show">

      <div class="van-image">
        <%= image_tag(@user.photo) if @user.photo.present? %>
      </div>

      <div class="van-info">
        <h1><%= @van.name %></h1>
        <P>⭐⭐⭐⭐⭐</p>
      </div>

  </div>
</div>

<div class="my-container">
  <% if @inventories.empty? %>
    <p>No products available in this van.</p>
  <% else %>
    <ul>
      <% @inventories.each do |inventory| %>
        <li>
            <div class="product-card">
              <div class="product-info">
                <h3><strong><%= inventory.product.name %></strong></h3>
                <hr class="product-line">
                <p><%= inventory.product.description %></p>
                <p><strong><%= number_to_currency(inventory.price) %></strong></p>
                <%= link_to "Add to basket",  vans_path, class: "btn-main" %>
                <span>Quantity Available: <%= inventory.quantity_available %></span>
              </div>

              <%# <div class="product-image"> %>
                <% if inventory.product.photo.present? %>
                  <%= image_tag inventory.product.photo, alt: inventory.product.name, class: "product-image" %>
                <% else %>
                  <%= image_tag 'default_product_image.png', alt: 'Default Image' %>
                <% end %>
              <%# </div> %>
            </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
