<div class="container-form">
  <div>
    <%= link_to "< Back to store", van_inventories_path(@van), class: "btn-main" %>
  </div>
  <div class="my-form">
    <h1>Add product to the store</h1>

    <div class="container">
      <%= simple_form_for [@van, @inventory] do |f| %>
        <%= f.association :product, prompt: "Select a product", input_html: {data: {controller: "tom-select"}} %>
        <%= f.input :quantity_available, placeholder: "Quantity Available" %>
        <%= f.input :price, placeholder: "Price" %>
        <%= f.submit class: "btn btn-main" %>
      <% end %>
    </div>
  </div>
</div>
