<div class="navbar-container">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag("GP ICE logo 2.png") %>
      <% end %>
    </div>
    <div class = "nav-links">
      <%= link_to root_path, class: "nav-link" do %>
        <i class="fa-solid fa-house"></i>
        <span class="nav-text">Home</span>
      <% end %>

        <%= link_to  vans_path, class: "nav-link" do %>
          <i class="fa-solid fa-map"></i>
          <span class="nav-text">Map</span>
        <% end %>

        <% if user_signed_in? && current_user.van_owner? %>
          <%= link_to van_inventories_path(current_user.van), class: "nav-link" do %>
            <i class="fa-solid fa-van-shuttle"></i>
            <span class="nav-text">My Store</span>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to cart_path, class: "nav-link" do %>
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="nav-text">Cart</span>
          <% end %>
        <% else %>
          <%= link_to cart_path, class: "nav-link" do %>
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="nav-text">Cart</span>
          <% end %>
        <% end %>

        <%= link_to edit_user_registration_path, class: "nav-link" do %>
          <i class="fa-solid fa-user"></i>
          <span class="nav-text">Profile</span>
        <% end %>

        <% if current_user.present? %>
          <%= button_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
          <i class="fa-solid fa-x"></i>
          <span class="nav-text">Sign Out</span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "nav-link"  do %>
            <i class="fa-solid fa-right-to-bracket"></i>
            <span class="nav-text">Sign In</span>
          <% end %>
        <% end %>
  </div>
</div>
