<div class="container-nav-bottom">
  <div class="container-main">
    <div class="my-nav">
      <div>
        <%= link_to root_path do %>
          <%= image_tag("GPIce_logo.png") %>
        <% end %>
      </div>
      <div id="nav-links">
        <%= link_to "Home", root_path  %>
        <%= link_to "Store", vans_path %>
        <%= link_to "Cart", "#" %>
        <%= link_to "Profile", "#" %>
        <% if current_user.present? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="divider">
</div>
