<div class="my-container">
  <%= link_to "All my orders", orders_path, class: "btn-main" %>
</div>

<div class="basket-container">

  <div class="basket-card">
    <% total_price = 0 %>

    <h2>Order Summary:</h2>
    <ul>
      <% @order.order_products.each do |order_product| %>
        <% inventory = Inventory.find_by(product_id: order_product.product_id, van_id: @order.van_id) %>

        <% if inventory %>
          <% total_price += inventory.price * order_product.quantity_ordered %>
        <% end %>

              <% if inventory %>
                <li>
                  <strong><%= order_product.quantity_ordered %>x</strong>
                  <strong><%= order_product.product.name %></strong>
                  <strong>£<%= inventory.price * order_product.quantity_ordered %></strong>
                </li>
              <% end %>
        <% end %>
        <hr class="product-line">
    </ul>

      <h3><strong>Total £<%= total_price %></strong></h3>
  </div>

  <div class="basket-checkout">
    <%= link_to "Checkout", "#", class: "btn-main" %>
  </div>

</div>
