<div class="btn-back">
  <%= link_to "< All my orders", orders_path %>
</div>

<div class="basket-container">

  <div class="basket-card">
    <% total_price = 0 %>

    <ul>
      <h2>Order Summary:</h2>
      <% @order.order_products.each do |order_product| %>
        <% inventory = Inventory.find_by(product_id: order_product.product_id, van_id: @order.van_id) %>

        <% if inventory %>
          <% total_price += inventory.price * order_product.quantity_ordered %>
        <% end %>

        <% if inventory %>
          <li>
            <strong><%= order_product.quantity_ordered %>x</strong>
            <strong><%= order_product.product.name %></strong>
            <strong>£<%= inventory.price * order_product.quantity_ordered %></strong>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div>
      <hr class="product-line">
      <h3><strong>Total £<%= total_price %></strong></h3>
    </div>
  </div>

<div class="basket-checkout">
  <form>
    <div class="payment-form p-5">
      <div class="row">

        <div class="col-12">
          <label>Full Name</label>
          <input type="text" class="form-control mb-3" placeholder="Enter Full Name" required>
        </div>

        <div class="col-12">
          <label>Credit Card Number:</label>
          <input type="text" class="form-control mb-3" placeholder="Enter card number" maxlength="16" pattern="\d{16}" required>
        </div>

        <div class="col-12 d-flex gap-3">
          <div class="col-md-6 col-sm-6 p-0">
            <label>CVV:</label>
            <input type="text" class="form-control mb-3" placeholder="Enter CVV" maxlength="3" pattern="\d{3}" required>
          </div>
          <div class="col-md-6 col-sm-6 p-0">
            <label>Post Code:</label>
            <input type="text" class="form-control mb-3" placeholder="Enter Post Code" maxlength="8" pattern="\d{8}" required>
          </div>
        </div>

        <div class="col-12">
          <label>Expiry Date:</label>
          <div class="d-flex gap-3">
            <div class="col-md-6 col-sm-6 p-0">
              <select class="form-control mb-3">
                <% (1..12).each do |month| %>
                  <option value="<%= month %>"><%= Date::MONTHNAMES[month] %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6 col-sm-6 p-0">
              <select class="form-control mb-3">
                <% (Date.today.year..(Date.today.year + 10)).each do |year| %>
                  <option value="<%= year %>"><%= year %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
          <%= link_to "Checkout", orders_path, class: "btn-main" %>
        </div>
      </div>
    </div>
  </form>
</div>



</div>
