<div class="btn-back">
  <%= link_to "< All my orders", orders_path %>
</div>

<div class="basket-container">

  <div class="basket-card">
    <% total_price = 0 %>

    <ul>
      <h2>Order Summary:</h2>
      <% @order.order_products.each do |order_product| %>
        <% inventory = Inventory.find_by(product_id: order_product.product_id, van_id: @order.van_id) %>

        <% if inventory %>
          <% total_price += inventory.price * order_product.quantity_ordered %>
        <% end %>

        <% if inventory %>
          <li>
            <strong><%= order_product.quantity_ordered %>x</strong>
            <strong><%= order_product.product.name %></strong>
            <strong>£<%= inventory.price * order_product.quantity_ordered %></strong>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div>
      <hr class="product-line">
      <h3><strong>Total £<%= total_price %></strong></h3>
    </div>
  </div>

  <div class="basket-checkout">
    <form>
      <div class="payment-form p-5">
        <div class="row">
          <label>Full Name</label>
          <input type="text" class="form-control mb-3" placeholder="Enter Full Name" required>

          <label>Credit Card Number:</label>
          <input type="text" class="form-control" placeholder="Enter card number" maxlength="16" pattern="\d{16}" required>

          <label>CVC:</label>
          <input type="text" class="form-control" placeholder="Enter CVV" maxlength="3" pattern="\d{3}" required>

          <label>Post Code:</label>
          <input type="text" class="form-control" placeholder="Enter Post Code" maxlength="8" pattern="\d{8}" required>

          <label>Expiry Date:</label>
          <div class="expiry-date">
            <select class="form-control mb-3">
              <% (1..12).each do |month| %>
                <option value="<%= month %>"><%= Date::MONTHNAMES[month] %></option>
              <% end %>
            </select>
            <select class="form-control mb-3">
              <% (Date.today.year..(Date.today.year + 10)).each do |year| %>
                <option value="<%= year %>"><%= year %></option>
              <% end %>
            </select>
          </div>

          <%= link_to "Checkout", orders_path, class: "btn-main" %>
        </div>
      </div>
    </form>
  </div>

</div>
