<h1>Orders</h1>
<div class="card">
  <div class="card-header">
    <p>Order ID</p>
    <p>Van ID</p>
    <p>Confirmed</p>
    <p>Paid</p>
    <p>Created At</p>
    
  </div>
  <% @orders.each do |order| %>
    <div class="card-details">
      <p><%= order.id %></p>
      <p><%= order.van_id %></p>
      <p><%= order.confirmed_status %></p>
      <p><%= order.paid_status %></p>
      <p><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></p>

  <% end %>
</div>

<%= link_to "Go to Homepage", root_path, class: "btn btn-primary" %>
<%= link_to "Add a New Order", new_order_path, class: "btn btn-success" %>

