
<div class="container">
<div>
    <%= link_to "< Back to store", van_path(@van), class: "btn btn-back" %>
  </div>
<div class="container chat">
  <h1>Chat</h1>
  <%= turbo_stream_from "order_#{@order.id}_messages" %>
  <div id="messages" class="messages">
  <% @order.messages.each do |message| %>
    <%= render "messages/message", message: message,  user: current_user  %>
  <% end %>
</div>
    <%= simple_form_for [@order, @message],
      html: {class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
    %>
      <% other_user = current_user == @order.van.user ? @order.user : @order.van.user %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{other_user.first_name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-review m-3" %>
    <% end %>

</div>
</div>
