<h1>Order Details</h1>

<p><strong>Order ID:</strong> <%= @order.id %></p>
<p><strong>User Email:</strong> <%= @order.user.email %></p>
<p><strong>Confirmed Status:</strong> <%= @order.confirmed_status %></p>
<p><strong>Paid Status:</strong> <%= @order.paid_status %></p>

<%= link_to 'Back to Orders', van_orders_path(@order.van) %>
