<div class="landing-page">
  <div class="hero-section">

    <h1>Craving ice cream?</h1>
    <p>Find the nearest van, place your order, and pick it up hassle-free!</p>
    <div class="search">
      <div class="search-bar">
        <%= form_with url: vans_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>

    <div class="product-list">
      <div class="product">

        <img src="<%= asset_path('cone-icon.png') %>" alt="Cone">

        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
      </div>

      <div class="product">

        <img src="<%= asset_path('cone-icon.png') %>" alt="Ice Cream Cone">

        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
      </div>

      <div class="product">

        <img src="<%= asset_path('cone-icon.png') %>" alt="Ice Cream Cone">

        <div class="rating">
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
          <span>⭐</span>
        </div>
      </div>

    </div>
  </div>
</div>


