<h1>My Cart</h1>

<% if @cart.present? && @cart.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= product.name %> - $<%= product.inventories.first.price if product.inventories.any? %>
        <%= button_to "Remove", remove_from_cart_path(@van, product.id), method: :delete, class: "btn btn-danger btn-sm" %>
      </li>
    <% end %>
  </ul>

  <%= button_to "Clear Cart", clear_cart_path(@van), method: :delete, class: "btn btn-warning" %>
  <%= link_to "Proceed to Checkout", new_order_path, class: "btn btn-success" %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to "Back to Van", van_path(@van), class: "btn btn-primary" %>
