<div class="container">
  <div class="btn-back">
    <%= link_to "< Home", root_path%>
  </div>
  <div class="container2">
    <h2 class="white-title">My Cart</h2>
  </div>
</div>

<div class="container-form">
  <div class="my-form">

      <% if @cart_items.any? { |order| order.order_products.any? } %>
        <% @cart_items.each do |order| %>
          <% if order.order_products.any? && order.paid_status == false %>
            <h2><%= order.van.name %></h2>
            <ul>
              <% order.order_products.each do |order_product| %>
                <li>
                  <div class="cart-items">
                      <div class="cart-product">

                          <div class ="cart-info">
                            <h3><strong><%= order_product.product.name %></strong></h3>
                            <p>Quantity: <%= order_product.quantity_ordered %></p>
                          </div>

                          <%= image_tag order_product.product.photo %>

                      </div>
                    <div class="cart-delete">
                      <%= button_to remove_from_cart_path(order_product), method: :delete, class: "btn-delete", data: { turbo_confirm: "Are you sure?" } do %>
                        <i class="fa-solid fa-trash"></i>
                      <% end %>
                    </div>
                  </div>

                </li>
              <% end %>
            </ul>

            <%= link_to "Proceed to Checkout", order_checkout_path(order), class: "btn-main" %>
            <hr class="product-line">
          <% else %>
            <p class="empty-cart">Your cart is empty. Choose the nearest van and buy some ice cream. <i class="far fa-smile"></i></p>
          <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
