<%= link_to "Back to Store", van_path(@van) %>

<div class="product-show-card">

  <%= image_tag @product.photo if @product.photo.present? %>

  <div class="product-show-info">
    <h3><%= @product.name %></h3>
    <p><%= @product.description %></p>
    <p><strong>£<%= @inventory.price %></strong></p>
    <hr class="product-line">

    <div class="quantity-center">
      <%= form_for [@van, @order], url: add_to_cart_path(@van, product_id: @product.id), method: :post, data: { controller: "quantity" } do |f| %>

      <div class="quantity-selector">
        <button type="button" class="qty-btn minus" data-action="click->quantity#decrease">−</button>
        <%= f.number_field :quantity_ordered, value: 1, min: 1, class: "quantity-input", data: { quantity_target: "quantity" } %>
        <button type="button" class="qty-btn plus" data-action="click->quantity#increase">+</button>
      </div>

      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.hidden_field :van_id, value: @van.id %>

      <%= f.submit "Add to Cart", class: "quantity-btn" %>
      <% end %>

    </div>

  </div>

</div>
