<%= link_to "Back to Store", van_path(@van) %>

<h1>Please select the quantity of products you want to buy</h1>

<%= image_tag @product.photo if @product.photo.present? %>
<p>
  <strong>Product:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<%= form_for [@van, @order], url: add_to_cart_path(@van, product_id: @product.id), method: :post do |f| %>
  <%= f.label :quantity_ordered, "Quantity" %>
  <%= f.number_field :quantity_ordered, value: 1, min: 1 %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.hidden_field :van_id, value: @van.id %>
  <%= f.submit "Add to Cart" %>
<% end %>

<%= link_to "Update Order", add_to_cart_path(@van), class: "btn btn-success" %>
