<%= link_to "Back to Store", van_path %>

<%= @product %>

<h1>Please select the quantity of products you want to buy</h1>
<%= image_tag @product.photo if @product.photo.present? %>
<p>
  <strong>Product:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<%= form_for [@van, @order], url: van_add_to_cart_path(@van, product_id: @product.id), method: :post do |f| %>
  <%= label_tag :quantity %>
  <%= number_field_tag :quantity_ordered %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= f.submit "Add to Cart" %>

  <%= link_to "Update Order", van_cart_path(@van), class: "btn btn-success" %>
<% end %>
