<%= link_to "Back to Store", van_path %>

<%= @product %>

<h1>Please select the quantity of products you want to buy</h1>
<%= image_tag(@photo) if @product.photo.present? %>
<p>
  <strong>Product:</strong>
  <%= @name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @price %>
</p>
<%= form_for @product_to_buy do |f| %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity_ordered %>
  <%= f.submit %>
<% end %>
